<mat-toolbar color="primary">
    <mat-toolbar-row class="between-xs middle-xs">
        <nav>
            <a mat-button routerLink="/store/home" routerLinkActive="active">
                <mat-icon>home</mat-icon>&nbsp; Home
            </a>
            <a mat-button routerLink="/store/products" routerLinkActive="active">Products</a>
        </nav>

        <div>
            <button mat-button [matMenuTriggerFor]="loginMenu"><mat-icon>account_circle</mat-icon></button>
            <mat-menu #loginMenu="matMenu" yPosition="below">
                <a mat-menu-item routerLink="/store/login">Login</a>
                <a mat-menu-item>Sign up</a>
              </mat-menu>
            <a mat-raised-button [matBadge]="totalProducts$ | async"
                routerLink="/store/cart"
                matBadgeColor="warn">
                <mat-icon>shopping_cart</mat-icon>
                Shopping cart
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
