<mat-card *ngIf="product">
    <mat-card-title>
        {{product.title}}
    </mat-card-title>
    <img mat-card-image [src]="product.image" alt="">
    <mat-card-subtitle>
        Price: {{product.price | currency}}
    </mat-card-subtitle>
    <mat-card-content>
        {{product.description}}
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <app-fav-button></app-fav-button>
        <button mat-raised-button color="primary" (click)="addTocart()">
            <mat-icon>add_shopping_cart</mat-icon>
            Add to cart
        </button>
    </mat-card-actions>
</mat-card>
