<mat-card *ngIf="product">
    <mat-card-title>
        {{product.title}} 
    </mat-card-title>
    <img mat-card-image [src]="product.image" alt="">
    <mat-card-subtitle>
        Price: {{product.price | currency}}
    </mat-card-subtitle>
    <mat-card-content>
        {{product.description}}
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button  mat-icon-button color="warn" >
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-raised-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon> 
            Ad to cart
        </button>
    </mat-card-actions>
</mat-card>
