<mat-card>
    <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img mat-card-image [src]="product.image" alt="Product image" />
    </div>
    <mat-card-content>
        <p>
            {{product.description | slice:0:35}}
        </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button  mat-icon-button color="warn" (click)="toggleFavorite()">
            <mat-icon>{{favoriteIcon}}</mat-icon>
        </button>
        <button mat-button [routerLink]="['/store/products', product.id]">
            <mat-icon>read_more</mat-icon>
            View more
        </button>
        <button mat-raised-button color="primary" (click)="addTocart()">
            <mat-icon>add_shopping_cart</mat-icon> 
            Addd to cart
        </button>
    </mat-card-actions>
</mat-card>
